* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    animation: blink 2s infinite ease-in-out;
}

.left {
    animation-delay: 0.4s;
}

@keyframes blink {
    0% {
        height: 30px;
    }

    50% {
        height: 0;
    }

    100% {
        height: 30px;
    }
}